.mainPageLayout {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #001aff, #d951f8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
  overflow-x: hidden; /* חוסם תזוזה ימינה-שמאלה */
}

.pageContentWrapper {
  background: white;
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 3rem 2rem 5rem 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  direction: rtl;
  min-height: 700px;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 900px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-top: 2rem;
}

.header {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #333;
}

.searchButton {
  background-color: white;
  color: #7f00ff;
  border: 2px solid #7f00ff;
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 40px;
}

.searchButton:hover {
  background-color: #7f00ff;
  color: white;
}

.loginBox {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 30px;
  max-width: 300px;
  width: 100%;
  background-color: #f9f9f9;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loginBox input {
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 8px;
  direction: rtl;
  text-align: right;
}

.loginBox a {
  font-size: 14px;
  color: #7f00ff;
  text-decoration: none;
}

.loginBtn {
  background-color: #7f00ff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.registerLink {
  background: none;
  border: none;
  color: #7f00ff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  text-decoration: underline;
}

.separator {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 40px 0 20px;
}
.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
