.mainPageLayout {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #001aff, #d951f8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}

.pageContentWrapper {
  background: white;
  width: 95%;
  max-width: 1200px;
  display: flex;
  border-radius: 20px;
  padding: 2rem 2rem 4rem 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  gap: 2rem;
  direction: rtl;
  min-height: 700px;
}

/* Sidebar */
.filtersSidebar {
  width: 200px;
  border-left: 1px solid #ddd;
  padding-left: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.filterTitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1rem;
}

.filtersList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.filtersList li {
  margin-bottom: 0.5rem;
  color: #333;
  cursor: pointer;
}

.filtersList li:hover {
  color: #7f00ff;
  font-weight: bold;
}

.activeFilter {
  color: #7f00ff;
  font-weight: bold;
  text-decoration: underline;
}

.filterDivider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 0.5rem 0;
}

/* Main Content */
.scholarshipMain {
  flex: 1;
}

.pageTitle {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.searchBar input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
}

.searchButton {
  background-color: #7f00ff;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.sectionTitle {
  font-weight: bold;
  margin-bottom: 1rem;
}

.scholarshipCards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.scholarshipCard {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 16px;
  width: 210px;
  height: 180px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.scholarshipCard:hover {
  transform: scale(1.03);
  background-color: #ece6ff;
}

.scholarshipCard h4 {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.5rem;
}

.loginNotice {
  font-weight: bold;
  color: #c0392b;
  margin-bottom: 1rem;
}
.icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
